.faceList li.face0 { background-image: url(../img/arclist/0.gif); }

.faceList li.face1 { background-image: url(../img/arclist/1.gif); }

.faceList li.face2 { background-image: url(../img/arclist/2.gif); }

.faceList li.face3 { background-image: url(../img/arclist/3.gif); }

.faceList li.face4 { background-image: url(../img/arclist/4.gif); }

.faceList li.face5 { background-image: url(../img/arclist/5.gif); }

.faceList li.face6 { background-image: url(../img/arclist/6.gif); }

.faceList li.face7 { background-image: url(../img/arclist/7.gif); }

.faceList li.face8 { background-image: url(../img/arclist/8.gif); }

.faceList li.face9 { background-image: url(../img/arclist/9.gif); }

.faceList li.face10 { background-image: url(../img/arclist/10.gif); }

.faceList li.face11 { background-image: url(../img/arclist/11.gif); }

.faceList li.face12 { background-image: url(../img/arclist/12.gif); }

.faceList li.face13 { background-image: url(../img/arclist/13.gif); }

.faceList li.face14 { background-image: url(../img/arclist/14.gif); }

.faceList li.face15 { background-image: url(../img/arclist/15.gif); }

.faceList li.face16 { background-image: url(../img/arclist/16.gif); }

.faceList li.face17 { background-image: url(../img/arclist/17.gif); }

.faceList li.face18 { background-image: url(../img/arclist/18.gif); }

.faceList li.face19 { background-image: url(../img/arclist/19.gif); }

.faceList li.face20 { background-image: url(../img/arclist/20.gif); }

.faceList li.face21 { background-image: url(../img/arclist/21.gif); }

.faceList li.face22 { background-image: url(../img/arclist/22.gif); }

.faceList li.face23 { background-image: url(../img/arclist/23.gif); }

.faceList li.face24 { background-image: url(../img/arclist/24.gif); }

.faceList li.face25 { background-image: url(../img/arclist/25.gif); }

.faceList li.face26 { background-image: url(../img/arclist/26.gif); }

.faceList li.face27 { background-image: url(../img/arclist/27.gif); }

.faceList li.face28 { background-image: url(../img/arclist/28.gif); }

.faceList li.face29 { background-image: url(../img/arclist/29.gif); }

.faceList li.face30 { background-image: url(../img/arclist/30.gif); }

.faceList li.face31 { background-image: url(../img/arclist/31.gif); }

.faceList li.face32 { background-image: url(../img/arclist/32.gif); }

.faceList li.face33 { background-image: url(../img/arclist/33.gif); }

.faceList li.face34 { background-image: url(../img/arclist/34.gif); }

.faceList li.face35 { background-image: url(../img/arclist/35.gif); }

.faceList li.face36 { background-image: url(../img/arclist/36.gif); }

.faceList li.face37 { background-image: url(../img/arclist/37.gif); }

.faceList li.face38 { background-image: url(../img/arclist/38.gif); }

.faceList li.face39 { background-image: url(../img/arclist/39.gif); }

.faceList li.face40 { background-image: url(../img/arclist/40.gif); }

.faceList li.face41 { background-image: url(../img/arclist/41.gif); }

.faceList li.face42 { background-image: url(../img/arclist/42.gif); }

.faceList li.face43 { background-image: url(../img/arclist/43.gif); }

.faceList li.face44 { background-image: url(../img/arclist/44.gif); }

.faceList li.face45 { background-image: url(../img/arclist/45.gif); }

.faceList li.face46 { background-image: url(../img/arclist/46.gif); }

.faceList li.face47 { background-image: url(../img/arclist/47.gif); }

.faceList li.face48 { background-image: url(../img/arclist/48.gif); }

.faceList li.face49 { background-image: url(../img/arclist/49.gif); }

.faceList li.face50 { background-image: url(../img/arclist/50.gif); }

.faceList li.face51 { background-image: url(../img/arclist/51.gif); }

.faceList li.face52 { background-image: url(../img/arclist/52.gif); }

.faceList li.face53 { background-image: url(../img/arclist/53.gif); }

.faceList li.face54 { background-image: url(../img/arclist/54.gif); }

.faceList li.face55 { background-image: url(../img/arclist/55.gif); }

.faceList li.face56 { background-image: url(../img/arclist/56.gif); }

.faceList li.face57 { background-image: url(../img/arclist/57.gif); }

.faceList li.face58 { background-image: url(../img/arclist/58.gif); }

.faceList li.face59 { background-image: url(../img/arclist/59.gif); }

.faceList li.face60 { background-image: url(../img/arclist/60.gif); }

.faceList li.face61 { background-image: url(../img/arclist/61.gif); }

.faceList li.face62 { background-image: url(../img/arclist/62.gif); }

.faceList li.face63 { background-image: url(../img/arclist/63.gif); }

.faceList li.face64 { background-image: url(../img/arclist/64.gif); }

.faceList li.face65 { background-image: url(../img/arclist/65.gif); }

.faceList li.face66 { background-image: url(../img/arclist/66.gif); }

.faceList li.face67 { background-image: url(../img/arclist/67.gif); }

.faceList li.face68 { background-image: url(../img/arclist/68.gif); }

.faceList li.face69 { background-image: url(../img/arclist/69.gif); }

.faceList li.face70 { background-image: url(../img/arclist/70.gif); }

.faceList li.face71 { background-image: url(../img/arclist/71.gif); }

.faceList li.face72 { background-image: url(../img/arclist/72.gif); }

.faceList li.face73 { background-image: url(../img/arclist/73.gif); }

.faceList li.face74 { background-image: url(../img/arclist/74.gif); }

.faceList li.face75 { background-image: url(../img/arclist/75.gif); }

.item-0 { width: 0rem; }

.item-1 { width: 1.445rem; }

.item-2 { width: 2.89rem; }

.item-3 { width: 4.335rem; }

.puma-icon { background-image: url("images/puma.png"); }

.sea-icon { background-image: url("images/sea.png"); }

.ocean-icon { background-image: url("images/ocean.png"); }

.sala-icon { background-image: url("images/sala.png"); }

/*# sourceMappingURL=03.css.map */
