<article>
            <center class="nav-content-title">自助分期四:手机分期</center>
            <h4 class="nav-content-subtitle">登录方式：</h4>
            <p>
                登录我行手机银行客户端网站（<a href="http://mobile.psbc.com" style="">mobile.psbc.com</a>),根据手机型号或操作系统下载对应的客户端程序。→在手机主菜单运行邮储银行客户端程序。→点击“<span
                    class="t-red">手机银行</span>”后，点击“<span class="t-red">自助注册</span>”→阅读《中国邮政储蓄银行个人电子银行服务协议》，点击“<span
                    class="t-red">下一步</span>”按钮→请输入您的手机号码、姓名、证件号码、注册账号，点击“<span
                    class="t-red">下一步</span>”→请输入账户取款密码，如果账户为信用卡，需要输入CVV2、有效期、查询密码。→验密通过后请您设置预留信息和登录密码。→请您确认无误后，提交完成手机银行自助注册。
            </p>
            <p>信用卡分期申请：您可以通过手机银行在线进行交易分期申请和账单分期申请。</p>
            <h4 class="nav-content-subtitle">自助注册客户：</h4>
            <p>自助注册客户是指我行账户持有人，通过访问我行手机银行，自助注册成为手机银行客户。</p>
            <h4 class="nav-content-subtitle">重要提示：</h4>
            <p>自助注册客户需要到邮储银行网点或通过UKey在个人网上银行办理签约，方可在手机银行操作分期付款业务。</p>
            <p>
                手机银行为您提供的“<span class="t-red">信用卡</span>”功能包括：信用卡账户查询、对账单查询、信用卡还款、信用卡分期申请、信用卡积分查询。
            </p>
        </article>
