<article>
            <center class="nav-content-title">自助分期一:短信分期</center>
            <p>
                信用卡短信自助分期，支持主卡客户使用预留手机向短信平台“<a class="t-red" href="sms:95580">95580</a>”发送指定短信代码进行分期申请，对于信用卡账户当前未逾期且账户卡片状态正常，满足分期业务金额起点的客户，可以通过短信交互方式完成账单分期和交易分期。
            </p>
            <div>
            <h4 class="nav-content-subtitle">操作步骤：</h4>
            <div>
                <p>
                1.对于单笔交易分期，客户发送“<span class="t-red">FQJY#卡号后4位#金额#期数</span>”至“<a
                    class="t-red" href="sms:95580">95580</a>”短信平台；
            </p>
            <p>
                2.对于账单分期，客户发送“<span class="t-red">FQZD#卡号后4位#金额#期数</span>”至“<a
                    class="t-red" href="sms:95580">95580</a>”短信平台；
            </p>
            <p>
                以上短信发送完毕并在12个小时内再短信发送“<span class="t-red">XY</span>”至“<a
                    class="t-red" href="sms:95580">95580</a>”短信平台，确认分期申请。
            </p>
            <h4 class="nav-content-subtitle">操作结果：</h4>
            <p>
                1.对于格式正确的分期申请短信，“<a class="t-red" href="sms:95580">95580</a>”短信平台将回复短信告知分期类型、每期分期分摊本金及每期分期手续费，要求客户在12小时内确认分期申请。
            </p>
            <p>
                2.对于格式错误的分期申请短信，“<a class="t-red" href="sms:95580">95580</a>”
                短信平台将回复短信告知格式有误，引导客户重新发送分期申请短信。
            </p>
            <p>
                3.对于分期不成功的客户，“<a class="t-red" href="sms:95580">95580</a>”短信平台回复短信告知客户分期申请处理结果，并对由于账户逾期、分期金额不合规、分期期数不合规等原因未能成功申请的分期交易说明失败原因。
            客户也可以在12小时内短信发送“<span class="t-red">XN</span>”至“<a class="t-red" href="sms:95580">95580</a>”短信平台，取消分期申请。
            </p>
            </div>
            
            </div>
        </article>