    
    <div class="rel content-outer">
        <img src="images/edit-bg1.png" class="edit-bg1" alt="">
        <section class="scroll-book6">
        <img src="images/skin1-bookleft.png" class="book-left abs" alt="">
        <img src="images/skin1-bookcenter.png" class="book-center abs" alt="">
        <img src="images/skin1-bookright.png" class="book-right abs" alt="">
        <div class="edit-pen abs">
        <img src="images/edit-pen.png" alt="">
        <img src="images/edit-pen-txt.png" class="edit-pentxt" alt="">
        </div>
        </section>
    </div>

     <div class="rel content-inner">
          <!-- 第1个贴图 -->
          <section class="edit-box1">
          <img src="images/bg1-txt1.png" class="abs bg1-txt1 centerX" alt="">
          <img src="images/bg1-txt2.png" class="abs bg1-txt2 centerX" alt="">

          <img src="images/bg1-adorn1.png" class="abs bg1-adorn1" alt="">
          <img src="images/bg1-adorn1.png" class="abs bg1-adorn2" alt="">
          <img src="images/skin1-bookleft.png" class="book-left abs" alt="">
          <img src="images/skin1-bookcenter.png" class="book-center abs" alt="">
          <img src="images/skin1-bookright.png" class="book-right abs" alt="">
          <!-- 右侧的笔 -->
          <img src="images/edit-pen2.png" class="edit-pen2" alt="">     
         <div class="edit-settingbox clear abs">           
          <span class="fl fontsizesettingBtn" title="文字大小"></span>
          <span class="fr fontcolorsettingBtn" title="颜色更换"></span>
          </div>
         
       </section>
          <!-- 第2个贴图 -->
         <section class="edit-box2">
          <img src="images/bg2-txt1.png" class="abs bg1-txt1 centerX" alt="">
          <img src="images/skin2-bookright.png" class="book-left abs" alt="">
          <img src="images/skin2-bookcenter.png" class="book-center abs" alt="">
          <img src="images/skin2-bookright.png" class="book-right abs" alt="">
          <!-- 右侧的笔 -->
          <img src="images/edit-pen2.png" class="edit-pen2" alt="">
          <div class="edit-settingbox clear abs">           
          <span class="fl fontsizesettingBtn" title="文字大小"></span>
          <span class="fr fontcolorsettingBtn" title="颜色更换"></span>
          </div>
       </section>
         <!-- 第3个贴图 -->
         <section class="edit-box3">
          <img src="images/skin3-bookleft.png" class="book-left abs" alt="">
          <img src="images/skin3-bookcenter.png" class="book-center abs" alt="">
          <img src="images/skin3-bookright.png" class="book-right abs" alt="">
          <!-- 右侧的笔 -->
          <img src="images/edit-pen2.png" class="edit-pen2" alt="">
          <div class="edit-settingbox clear abs">           
          <span class="fl fontsizesettingBtn" title="文字大小"></span>
          <span class="fr fontcolorsettingBtn" title="颜色更换"></span>
          </div>
       </section>

       <!-- 第4个贴图 -->
         <section class="edit-box4">
          <img src="images/bg4-txt1.png" class="abs bg4-txt1 centerX" alt="">
          <img src="images/skin4-bookleft.png" class="book-left abs" alt="">
          <img src="images/skin4-bookcenter.png" class="book-center abs" alt="">
          <img src="images/skin4-bookleft.png" class="book-right abs" alt="">
          <!-- 右侧的笔 -->
          <img src="images/edit-pen2.png" class="edit-pen2" alt="">
          <div class="edit-settingbox clear abs">           
          <span class="fl fontsizesettingBtn" title="文字大小"></span>
          <span class="fr fontcolorsettingBtn" title="颜色更换"></span>
          </div>
       </section>

         <!-- 第5个贴图 -->
         <section class="edit-box5">
          <img src="images/skin5-bookleft.png" class="book-left abs" alt="">
          <img src="images/skin5-bookcenter.png" class="book-center abs" alt="">
          <img src="images/skin5-bookright.png" class="book-right abs" alt="">
          <!-- 右侧的笔 -->
          <img src="images/edit-pen2.png" class="edit-pen2" alt="">
           <div class="edit-settingbox clear abs">           
          <span class="fl fontsizesettingBtn" title="文字大小"></span>
          <span class="fr fontcolorsettingBtn" title="颜色更换"></span>
          </div>
       </section>


        <!-- 文本域 -->
        <form action="#" method="get" accept-charset="utf-8">
           <div class="txtarea">
           <input class="call" type="text" name="" value="" placeholder="点击输入称呼">
            <textarea value="" class="fillTxt body" name="" class="" placeholder="点击输入祝福语录,25个以内,也可以在下方”第一步”挑选合适的祝福语。"></textarea>
           <input class="inscribe" type="text" name="" value="" placeholder="点击输入落款"> 
         </div>  
        </form>
         
    </div>
    <!-- 底部 开始 -->
    <div class="edit-footer ">
      <div class="edit-footer-txt clear">
      <center><img src="images/step1.png" alt=""></center>
      <center><img src="images/step2.png" alt=""></center>
      <center><img src="images/step3.png" alt=""></center>
      <center><img src="images/step4.png" alt=""></center>
      </div>
      <div class="edit-footer-list clear">
          <span id="editNav1" title="祝福语录"></span>
          <span id="editNav2" title="主题贴图"></span>
          <span id="editNav3" title="定制音乐"></span>
          <span id="editNav4" title="生成贺卡"></span>
      </div>
        
    </div>
    <!-- 底部 结束 -->
     <!-- 设置文字大小弹出 -->
          <div id="fontsize-box" class="abs clear edit-innersetting-box">
              <img src="images/fufont.png" alt="福">
              <img src="images/fufont.png" alt="福">
              <img src="images/fufont.png" alt="福">
              <img src="images/fufont.png" alt="福">
              <img src="images/fufont.png" alt="福">
          </div>
           <!-- 设置文字颜色弹出 -->
          <div id="fontcolor-box" class="abs clear edit-innersetting-box">
              <span class="mb02rem"><i class="color1"></i></span>
              <span class="mb02rem"><i class="color2"></i></span>
              <span class="mb02rem"><i class="color3"></i></span>
              <span class="mb02rem"><i class="color4"></i></span>
              <span class="mb02rem"><i class="color5"></i></span>
              <span ><i class="color6"></i></span>
              <span ><i class="color7"></i></span>
              <span ><i class="color8"></i></span>
              <span ><i class="color9"></i></span>
              <span ><i class="color10"></i></span>
          </div>
    <!-- 祝福语录弹窗 -->
    <div class="mask happyword-mask">
          <span class="pop-close" title="关闭"></span>
          <div class="pop word-pop">
            <img src="images/happayword_03.png" alt="">
            <img src="images/happayword_06.png" alt="">
            <img src="images/happayword_08.png" alt="">
            <img src="images/happayword_10.png" alt="">
            <img src="images/happayword_12.png" alt="">
            <img src="images/happayword_14.png" alt="">
            <img src="images/happayword_16.png" alt="">
            <img src="images/happayword_18.png" alt="">
          </div>  
    
    </div>
    <!-- 贴图背景弹窗 -->
    <div class="bgchoose-pop clear">
      <img src="images/bgview1.png" alt="">
      <img src="images/bgview2.png" alt="">
      <img src="images/bgview3.png" alt="">
      <img src="images/bgview4.png" alt="">
      <img src="images/bgview5.png" alt="">
    </div>
    <!-- 音乐选择弹窗 -->
    <div class="mask musicchoose-mask">
          <span class="pop-close" title="关闭"></span>
          <div class="pop music-pop">
            <section><img src="images/musicbg1.png" alt=""><span></span></section>
            <section><img src="images/musicbg2.png" alt=""><span></span></section>
            <section><img src="images/musicbg3.png" alt=""><span></span></section>
          </div> 
    </div>
    <!-- 生成后出现的按钮 -->
    <img src="images/sendbtn.png" id="sendbtn" class="viewafterbtn" alt="送出祝福">
    <img src="images/return.png" id="returnbtn" class="viewafterbtn" alt="返回上页">
    <!-- 分享弹窗 -->
    <div class="mask share-mask">
      <img src="images/shareimg1.png" class="shareimg1" alt="">
    </div>

