 <style type="text/css" media="screen">
  body{overflow: auto;}
  .dir-box{width:6.8rem;margin: 10px auto;}
  .dir-box a{display: block; background-color: rgba(255,255,255,.4);color:#fff; margin-bottom: 10px; line-height: 26px;float: left;width:49%; margin-right: 2%;text-align: center;}
  .dir-box a:nth-child(2n){margin-right: 0px;}

  </style>


<div class="dir-box clear">
        <a href="#main">首页</a>
        <a href="#edit">编辑贺卡</a>
        <a href="friend1.html">朋友接收1</a>
        <a href="friend2.html">朋友接收2</a>
        <a href="friend3.html">朋友接收3</a>
        <a href="friend4.html">朋友接收4</a>
        <a href="friend5.html">朋友接收5</a>
    </div>