<div class="index-container">
    <img src="images/index-sideleft.png" class="index-lightfire left" alt="">  
    <img src="images/index-sideright.png" class="index-lightfire right" alt="">  
    <img src="images/index-title.png" class="index-title" alt="">
    <div class="index-focus rel">
       <img src="images/index-adorn1.png" class="adorn1" alt="">
       <img src="images/index-adorn2.png" class="adorn2" alt="">
    </div>
    <a href="#edit" class="index-startbtn"><img src="images/index-startbtn.png" alt=""></a>
    <img src="images/index-footer.png" alt="">
</div>