    <article>
        <center class="nav-content-title">自助分期五:电脑分期</center>
        <h4 class="nav-content-subtitle">登录方式：</h4>
            <p>
                登录<a class="t-blue" 
                    href="https://pbank.psbc.com/pweb/prelogin.do?_locale=zh_CN&BankId=9999">邮储银行个人网上银行</a>
                可以进行“<span class="t-red">交易分期申请</span>”和“<span class="t-red">账单分期申请</span>”两个业务。
            </p>
            <p class="t-bold">1.交易分期申请</p>
            <p>本功能在线将您在网银注册过的信用卡申请的未出账单交易转为分期付款交易。</p>
            <p>操作步骤：</p>
            <p>
                登录邮政储蓄银行个人网银，进入 “<span class="t-red">信用卡－信用卡分期－分期申请－交易分期申请</span>”，页面显示您名下的信用卡账户信息。选择一个未出账单交易明细，点击“<span
                    class="t-red">确定</span>”。选择“<span class="t-red">申请交易分期期数</span>”，点击“<span
                    class="t-red">确定</span>”即可。
            </p>
            <p class="t-bold">2.账单分期申请</p>
            <p>通过本功能在线将在网银注册过的信用卡申请的账单余额转为分期付款交易。</p>
            <p class="l5">操作步骤：</p>
            <p>
                登录邮政储蓄银行个人网银，进入 “<span class="t-red">信用卡－信用卡分期－分期申请－账单分期申请</span>”，页面显示您名下的信用卡账户信息。输入“<span
                    class="t-red">申请账单分期金额</span>”，选择“<span class="t-red">申请账单分期期数</span>”，点击“<span
                    class="t-red">确定</span>”即可。
            </p>
            <p class="t-red">重要说明：</p>
            <p>
                1.账单分期可申请<span class="t-red">3、6、9、12、15、18、21、24</span>共八档期数，每月为1期。分期付款手续费按月收取，每月收取分期本金总额的<span
                    class="t-red">0.6％</span>，手续费一经收取，将不予退还。
            </p>
            <p>2.通过网上银行办理分期付款业务，需要成为邮储银行的签约客户，成为签约客户的方式除了去柜面签约以外还可以通过普通UKey客户、扩展UKey客户可将其非签约账户变更为签约账户。</p>
            <h4 class="nav-content-subtitle">分期管理</h4>
            <p class="t-bold">1）交易分期撤销</p>
            <p>本功能在申请分期当期账单日开始之前，在线将在网银注册过的信用卡的指定分期付款交易进行撤销。</p>
            <p>使用说明：</p>
            <p>您只能在申请分期当期账单日开始之前进行此撤销操作。</p>
            <p>
                分期付款撤销手续费为每笔<span class="t-red"><b>20</b></span>元。
            </p>
            <p class="t-bold">2）账单分期撤销</p>
            <p>通过本功能在申请账单分期当天日终前在线将您在网银注册过的信用卡的指定分期付款交易进行撤销。</p>
            <p class="t-bold">3）提前还款申请</p>
            <p>通过本功能在线申请将您在网银注册过的信用卡的未分摊完成的分期付款交易进行提前还款。</p>
            <p class="t-bold">使用说明：</p>
            <p>提前还款不减免持卡人的未分摊本金和分期付款手续费，不收取额外的提前还款手续费。</p>
        </article>