<article>
            <center class="nav-content-title">自助分期三:商城分期</center>
            <h4 class="nav-content-subtitle">商城特色：</h4>
            <p>
                1.分期商品<span class="t-red">0</span>利息<span class="t-red">0</span>手续费：商城分期商品不向客户客户收取利息及手续费，客户选择合适期数即可分期付款，无额外支出；
            </p>
            <p>
                2.积分可抵现：客户购买分期商品时，可使用信用卡积分支付商品货款，最高可抵商品总价的<span class="t-red">50%</span>，按照1000积分=<span
                    class="t-red">1</span>块钱折算；
            </p>
            <p>3.与邮乐联合承办，价格先与京东、国美等知名网站进行对比，价优产品再上线商城。商品价格低、选择更多。</p>
            <h4 class="nav-content-subtitle">访问方式：</h4>
            <p class="t-red">
                1.推荐登录网址：<a href="http://Shop.psbc.com">Shop.psbc.com</a>
            </p>
            <p class="t-red">2.邮储银行官网→信用卡主页→信用卡商城，进入商城页面。</p>
            <p class="t-red">3.登录个人网银→信用卡→积分兑换，进入商城页面。</p>
            <h4 class="nav-content-subtitle">身份认证：</h4>
            <p>1.未注册我行个人网银的客户，可从官网直接用信用卡账户注册网银，即可使用信用卡商城积分兑换及分期购物功能。客户须开通我行个人网银并加办信用卡后可访问会员中心，进行商城交易。</p>
            <p>2.已开通个人网银的客户可在网银画面直接追加信用卡。</p>
            <h4 class="nav-content-subtitle">办理方式：</h4>
            <div>
                <p>首页→分期商品→选择合适商品→选择分期期数及要使用的积分数→点击立刻兑换</p>
            <p>确认订单信息后，系统会再次提示登录网银确认身份及交易。</p>
            <p>交易完成后可以通过会员中心进入订单管理，进行订单查询、订单详情、申请退换货、查看物流信息及进行订单评价。退换货仅在会员中心申请</p>
            </div>
            
            <h4 class="nav-content-subtitle">分期订单的撤销：</h4>
            <p>分期订单下单成功\支付成功后，不允许撤销，客户可在收到商品7天内确保包装无损的情况下在商城会员中心申请退货。</p>
            <h4 class="nav-content-subtitle">分期提前还款：</h4>
            <p>客户如需提前还款，致电我行信用卡客服即可，无需支付额外费用。</p>
            <h4 class="nav-content-subtitle">分期是否有积分：</h4>
            <p>信用卡积分随每期账单的分期摊销金额计入客户账户。</p>
            <h4 class="nav-content-subtitle">分期撤销：</h4>
            <div>
                <p>1.未支付或部分支付的订单:</p>
            <p>未支付订单24小时内可继续支付，超过时间系统自动取消订单。</p>
            <p>2.部分支付订单分两种情况：</p>
            <p>
                1）在“<span class="t-red">确认订单</span>”环节已支付了积分或运费，分期金额支付环节未成功，系统是在7个自然日后自动取消订单并退回积分或运费；
            </p>
            <p>
                2）在“<span class="t-red">确认订单</span>”环节未支付积分或运费，分期金额支付环节未成功，系统在24小时后自动取消订单。
            </p>
            <p>客户账户发生以下情况，不能在商城进行积分兑换或分期：</p>
            <p>未开通个人网银、个人网银未加办信用卡、卡片到期换卡后未激活、卡片换卡后未加办网银账户逾期、冻结、挂失或卡片到期，其它账户状态或卡片状态异常的情况。</p>
            </div>
            <h4 class="nav-content-subtitle">商品物流查询：</h4>
            <p>会员中心→订单管理→物流状态查询</p>
            <p>实时反馈商品发货、配送及签收状况。</p>
            <h4 class="nav-content-subtitle">商品配送时效：</h4>
            <p>工作日24小时内发货，1线城市2天，偏远地区最长不超过15天。</p>
            <h4 class="nav-content-subtitle">商品售后服务：</h4>
            <p>商品售后服务通过信用卡客服解决，客服记录工单流转至商户，商户外呼处理客户商品问题及售后。</p>
客户服务热线<a href="tel:4008895580" class="t-blue">4008895580</a>进行人工办理。
            </p>
        </article>